#ini {
 
  background-color: #abc4e9;
 }

#itu {
  color:rgb(23, 23, 83);
}

#btn {
  background-color: rgb(23, 23, 83);
  color: white;
}

#jojo {
  background-color: rgb(37, 32, 110);
  color: white;
}

#kaka {
  background-color: rgb(46, 40, 136);
  color: white;
}

#kiki {
  background-color: rgb(54, 46, 168);
  color: white;
}

#kuku {
  background-color: rgb(65, 56, 201);
  color: white;
}

#keke {
  background-color: rgb(72, 61, 224);
  color: white;
}

#koko {
  background-color: rgb(87, 76, 252);
  color:  white;
}

#lala {
  background-color: rgb(99, 89, 243);
  color: white;
}

#lili {
  background-color: rgb(111, 101, 247);
  color: white;
}

#lulu {
  background-color: rgb(127, 119, 250);
  color: white ;
}

#lele {
  background-color: rgb(147, 140, 253);
  color: white;
}

#lolo {
  background-color: rgb(160, 153, 253);
  color: white;
}

